[package]
name = "willbe"
version = "0.8.0"
edition = "2021"
authors = [
  "Kostiantyn Wandalen <wandalen@obox.systems>",
  "Dmytro Kryvoruchko <dmytro.kr@obox.systems>",
]
license = "MIT"
readme = "Readme.md"
documentation = "https://docs.rs/willbe"
repository = "https://github.com/Wandalen/wTools/tree/master/module/move/willbe"
homepage = "https://github.com/Wandalen/wTools/tree/master/module/move/willbe"
description = """
Utility to publish multi-crate and multi-workspace environments and maintain their consistency.
"""
categories = [ "algorithms", "development-tools" ]
keywords = [ "fundamental", "general-purpose" ]
default-run = "will"
# include = [
#   "/src",
#   "/template",
#   "/Cargo.toml",
#   "/Readme.md",
#   "/License",
# ]

[lints]
workspace = true

[package.metadata.docs.rs]
features = [ "full" ]
all-features = false
# exclude = [ "/tests", "/examples", "-*" ]

[features]
default = [ "enabled" ]
full = [ "enabled" ]
use_alloc = []
enabled = []
tracing = [ "dep:tracing", "dep:tracing-subscriber" ]

[dependencies]
cargo_metadata = "~0.14"
convert_case = "0.6.0"
crates_tools = { workspace = true }
error_tools = { workspace = true, features = [ "default" ] }
flate2 = "~1.0"
former = { workspace = true, features = [ "default" ] }
globwalk = "~0.8"
iter_tools = { workspace = true, features = [ "default" ] }
mod_interface = { workspace = true, features = [ "default" ] }
wca = { workspace = true, features = [ "default" ] }
toml_edit = "~0.14"
petgraph = "~0.6"
ptree = "~0.4"
rayon = "1.8.0"
semver = "~1.0.0"
regex = "1.10.2"
sha-1 = "~0.10"
tar = "~0.4"
handlebars = "4.5.0"
ureq = "~2.9"
colored = "2.1.0"
duct = "0.13.7"
tracing = { version = "0.1", features = [ "log-always" ], optional = true }
tracing-subscriber = { version = "0.3", optional = true }

[dev-dependencies]
test_tools = { workspace = true }
assert_fs = "1.0"
serde_yaml = "0.9"
serde_json = "1.0.114"
serde = "1.0"
assert_cmd = "2.0"
