[package]
name = "former_meta"
version = "0.11.0"
edition = "2021"
authors = [
  "Kostiantyn Wandalen <wandalen@obox.systems>",
  "Dmytro Kryvoruchko <dmytro.kr@obox.systems>",
]
license = "MIT"
readme = "Readme.md"
documentation = "https://docs.rs/former_meta"
repository = "https://github.com/Wandalen/wTools/tree/master/module/core/former_meta"
homepage = "https://github.com/Wandalen/wTools/tree/master/module/core/former_meta"
description = """
Former - a variation of builder pattern. Implementation of its derive macro. Should not be used independently, instead use module::former which relies on the module.
"""
categories = [ "algorithms", "development-tools" ]
keywords = [ "fundamental", "general-purpose", "builder-pattern" ]

[lints]
workspace = true

[package.metadata.docs.rs]
features = [ "full" ]
all-features = false

[features]

default = [ "enabled", "derive_former", "derive_component_from", "derive_component_assign", "derive_components_assign", "derive_from_components" ]
full = [ "enabled", "derive_former", "derive_component_from", "derive_component_assign", "derive_components_assign", "derive_from_components" ]
enabled = [ "macro_tools/enabled", "iter_tools/enabled" ]

derive_former = []
derive_component_assign = []
derive_components_assign = [ "derive_component_assign", "convert_case" ]
derive_component_from = []
derive_from_components = []

[lib]
proc-macro = true

[dependencies]
macro_tools = { workspace = true }
iter_tools = { workspace = true }
convert_case = { version = "0.6.0", default-features = false, optional = true, features = [] }

[dev-dependencies]
test_tools = { workspace = true, features = [ "full" ] }
former = { workspace = true, features = [ "full" ] }
