[package]
name = "former_meta"
version = "0.1.12"
edition = "2021"
authors = [
  "Kostiantyn Wandalen <wandalen@obox.systems>",
  "Dmytro Kryvoruchko <dmytro.kr@obox.systems>",
]
license = "MIT"
readme = "Readme.md"
documentation = "https://docs.rs/former_meta"
repository = "https://github.com/Wandalen/wTools/tree/master/module/core/former_meta"
homepage = "https://github.com/Wandalen/wTools/tree/master/module/core/former_meta"
description = """
Former - a variation of builder pattern. Implementation of its derive macro. Should not be used independently, instead use module::former which relies on the module.
"""
categories = [ "algorithms", "development-tools" ]
keywords = [ "fundamental", "general-purpose", "builder-pattern" ]

[package.metadata.docs.rs]
features = [ "full" ]
all-features = false

exclude = [ "/tests", "/examples", "-*" ]
include = [
  "/rust/impl/former/meta",
  "/Cargo.toml",
  "/Readme.md",
  "/License",
]

[features]
default = []
full = []

[lib]
proc-macro = true
name = "former_meta"
path = "src/former/meta/former_lib.rs"

[dependencies]
proc-macro2 = "~1.0"
quote = "~1.0"
syn = { version = "~1.0", features = [ "full", "extra-traits", "parsing", "printing" ] }
iter_tools = { workspace = true }
macro_tools = { workspace = true }

[dev-dependencies]
# trybuild = { version = "~1.0", features = [ "diff" ] }
