[package]
name = "unilang_parser"
version = "0.16.0"
edition = "2021"
license = "MIT"
readme = "readme.md"
authors = [ "Kostiantyn Wandalen <wandalen@obox.systems>" ]
categories = [ "parsing", "command-line-interface" ]
keywords = [ "parser", "cli", "unilang", "instructions" ]
description = """
Parser for Unilang CLI instruction syntax.
"""
documentation = "https://docs.rs/unilang_parser"
repository = "https://github.com/Wandalen/wTools/tree/master/module/move/unilang_parser"
homepage = "https://github.com/Wandalen/wTools/tree/master/module/move/unilang_parser"

[features]
default = [
  "enabled",
  "simd",
]
simd = ["strs_tools/simd"]  # SIMD optimizations enabled by default, disable with --no-default-features
no_std = []


enabled = []
full = [
  "enabled",
  "simd",
]

[dependencies]
strs_tools = { workspace = true, features = ["string_parse_request", "string_split"] }
error_tools = { workspace = true, features = [ "enabled", "error_typed" ] }
iter_tools = { workspace = true, features = [ "enabled" ] }

[dev-dependencies]
test_tools = { workspace = true, features = [ "full" ] }

[lints]
workspace = true



