[package]
name = "mem_tools"
version = "0.1.1"
edition = "2021"
authors = [
  "Kostiantyn Wandalen <wandalen@obox.systems>",
  "Dmytro Kryvoruchko <dmytro.kr@obox.systems>",
]
license = "MIT"
readme = "Readme.md"
documentation = "https://docs.rs/mem_tools"
repository = "https://github.com/Wandalen/wTools/tree/master/module/core/mem_tools"
homepage = "https://github.com/Wandalen/wTools/tree/master/module/core/mem_tools"
description = """
Collection of tools to manipulate memory.
"""
categories = [ "algorithms", "development-tools" ]
keywords = [ "fundamental", "general-purpose" ]

[package.metadata.docs.rs]
all-features = true

include = [
  "/rust/impl/mem",
  "/Cargo.toml",
  "/Readme.md",
  "/License",
]

[features]
default = [
]
full = [
  "use_alloc",
]
# use_std = []
no_std = []
use_alloc = []

[lib]
name = "mem_tools"
path = "src/mem/mem_tools_lib.rs"

[[test]]
name = "mem_tools_test"
path = "tests/mem/mem_tools_tests.rs"

[[test]]
name = "mem_tools_smoke_test"
path = "tests/_integration_test/smoke_test.rs"

[[example]]
name = "mem_tools_trivial_sample"
path = "examples/mem_tools_trivial_sample/src/main.rs"

[dependencies]

[dev-dependencies]
test_tools = { workspace = true }
smoke_test = { workspace = true }
