
!/.github
!/.circleci
!/.*

/binding
/target
/node_modules
/.module
/.data
/package-lock.json
/Cargo.lock
/.vscode
/_*

.roo
.env
_key
_data
target
dist
.module
Cargo.lock
.DS_Store
.idea
.mastermind
*.log
*.db
*.tmp
*.build
*.code-workspace
.warchive*
-*
rustc-ice-*.txt
.roo
