[package]
name = "iter_tools"
version = "0.1.4"
edition = "2021"
authors = [
  "Kostiantyn Wandalen <wandalen@obox.systems>",
  "Dmytro Kryvoruchko <dmytro.kr@obox.systems>",
]
license = "MIT"
readme = "Readme.md"
documentation = "https://docs.rs/iter_tools"
repository = "https://github.com/Wandalen/wTools/tree/master/module/core/iter_tools"
homepage = "https://github.com/Wandalen/wTools/tree/master/module/core/iter_tools"
description = """
Collection of general purpose tools to iterate. Currently it simply reexports itertools.
"""
categories = [ "algorithms", "development-tools" ]
keywords = [ "fundamental", "general-purpose" ]

[package.metadata.docs.rs]
all-features = true

exclude = [ "/tests", "/examples", "-*" ]
include = [
  "/rust/impl/iter",
  "/Cargo.toml",
  "/Readme.md",
  "/License",
]

[features]
default = [ ]
full = []
# use_std = [ "itertools/use_std" ]
no_std = []
use_alloc = [ "itertools/use_alloc" ]

[lib]
name = "iter_tools"
path = "src/iter/iter_tools_lib.rs"

[[test]]
name = "iter_tools_test"
path = "tests/iter/tests.rs"

[[test]]
name = "iter_tools_smoke_test"
path = "tests/_integration_test/smoke_test.rs"

[[example]]
name = "iter_tools_trivial_sample"
path = "examples/iter_tools_trivial_sample/src/main.rs"

[dependencies]
itertools = { version = "~0.10.3", features = [ "use_std" ] }

[dev-dependencies]
test_tools = { workspace = true }
smoke_test = { workspace = true }
