[package]
name = "wca"
version = "0.1.3"
edition = "2021"
authors = ["Kostiantyn Wandalen <wandalen@obox.systems>", "Volodymyr M. <volodymyr.migdal@gmail.com>", "Dmytro Kryvoruchko <dmytro.kr@obox.systems>" ]
license = "MIT"
readme = "Readme.md"
documentation = "https://docs.rs/wca"
repository = "https://github.com/Wandalen/wTools/tree/master/module/move/wca"
homepage = "https://github.com/Wandalen/wTools/tree/master/module/move/wca/Readme.md"
description = """
The tool to make CLI ( commands user interface ). It is able to aggregate external binary applications, as well as functions, which are written in your language.
"""
categories = [ "command-line-interface", "command-line-utilities" ]
keywords = [ "wtools", "CLI", "CUI", "user-interface" ]

[package.metadata.docs.rs]
all-features = true

include = [
  "/rust/impl/ca",
  "/Cargo.toml",
  "/Readme.md",
  "/License",
]

[features]
default = [ ]
full = []
use_std = [ "default_handlers" ]
use_alloc = []

default_handlers = [
  "on_error_default",
  "on_syntax_error_default",
  "on_ambiguity_default",
  "on_unknown_command_error_default",
  "on_get_help_default",
  "on_print_commands_default",
]

on_error_default = []
on_syntax_error_default = []
on_ambiguity_default = []
on_unknown_command_error_default = []
on_get_help_default = []
on_print_commands_default = []

[lib]
name = "wca"
path = "src/ca/wca_lib.rs"

[[test]]
name = "wca_test"
path = "tests/ca/wca_tests.rs"

[[test]]
name = "wca_smoke_test"
path = "tests/_integration_test/smoke_test.rs"

[[example]]
name = "wca_trivial_sample"
path = "examples/wca_trivial_sample/src/main.rs"

[dependencies]
wtools = { workspace = true }
former = { workspace = true } # zzz : remove. fix
anymap = "0.12"
log = "0.4"
nom = "7.1"
closure = "0.3"

[dev-dependencies]
test_tools = { workspace = true }
