[package]
name = "process_tools"
version = "0.18.0"
edition = "2021"
authors = [
  "Kostiantyn Wandalen <wandalen@obox.systems>",
]
license = "MIT"
readme = "readme.md"
documentation = "https://docs.rs/process_tools"
repository = "https://github.com/Wandalen/wTools/tree/master/module/core/process_tools"
homepage = "https://github.com/Wandalen/wTools/tree/master/module/core/process_tools"
description = """
Collection of algorithms and structures to handle processes properly.
"""
categories = [ "algorithms", "development-tools" ]
keywords = [ "fundamental", "general-purpose" ]

[lints]
workspace = true

[package.metadata.docs.rs]
features = [ "full" ]
all-features = false

[features]
default = [ "enabled", "process_environment_is_cicd" ]
full = [ "enabled" ]
enabled = [
  "mod_interface/enabled",
  "former/enabled",
  "pth/enabled",
  "error_tools/enabled",
  "iter_tools/enabled",
]

process_environment_is_cicd = []


[dependencies]
mod_interface = { workspace = true }
former = { workspace = true, features = [ "derive_former" ] }
pth = { workspace = true }
error_tools = { workspace = true, features = [ "error_untyped" ] }
iter_tools = { workspace = true }

## external
duct = "0.13.7"


[dev-dependencies]
test_tools = { workspace = true, features = [ "full" ] }
assert_fs = { version = "1.1.1" }
