[package]
name = "wtest_basic"
version = "0.1.4"
edition = "2021"
authors = [
  "Kostiantyn Wandalen <wandalen@obox.systems>",
  "Volodymyr M. <volodymyr.migdal@gmail.com>",
  "Dmytro Kryvoruchko <dm.vict.kr@gmail.com>",
]
license = "MIT"
readme = "Readme.md"
documentation = "https://docs.rs/wtest_basic"
repository = "https://github.com/Wandalen/wTools/tree/master/module/rust/wtest_basic"
homepage = "https://github.com/Wandalen/wTools/tree/master/module/rust/wtest_basic"
description = """
Tools for writing tests. The most basic things.
"""
categories = [ "algorithms", "development-tools" ]
keywords = [ "fundamental", "general-purpose", "testing" ]

include = [
  "/rust/impl/test",
  "/Cargo.toml",
  "/Readme.md",
  "/License",
]

[lib]
name = "wtest_basic"
path = "rust/impl/test/wtest_basic_lib.rs"

[[test]]
name = "wtest_basic_test"
path = "rust/test/test/wtest_basic_lib_test.rs"

[[example]]
name = "wtest_basic_trivial_sample"
path = "sample/rust/wtest_basic_trivial_sample/src/main.rs"

[dependencies]
paste = "~1.0"
rustversion = "~1.0"
anyhow = "~1.0"
trybuild = { version = "~1.0", features = [ "diff" ] }
meta_tools = { version = "~0.2", path = "../../rust/meta_tools" }
typing_tools = { version = "~0.1", path = "../../rust/typing_tools" }

[dev-dependencies]
# rustversion = "~1.0"
