[package]
name = "procedural_macro_meta"
version = "0.1.0"
edition = "2021"
authors = [
  "Kostiantyn Wandalen <wandalen@obox.systems>",
  "Dmytro Kryvoruchko <dm.vict.kr@gmail.com>",
]
license = "MIT"
readme = "Readme.md"
documentation = "https://docs.rs/procedural_macro_meta"
repository = "https://github.com/Wandalen/wTools/tree/master/module/rust/procedural_macro_meta"
homepage = "https://github.com/Wandalen/wTools/tree/master/module/rust/procedural_macro_meta"
description = """
___
"""
categories = [ "algorithms", "development-tools" ]
keywords = [ "fundamental", "general-purpose", "builder-pattern" ]

[package.metadata.docs.rs]
all-features = true

include = [
  "/rust/impl/meta/procedural_macro_meta_lib.rs",
  "/rust/impl/meta/procedural_macro/meta",
  "/Cargo.toml",
  "/Readme.md",
  "/License",
]

[features]
use_std = []
use_alloc = []
default = [ "use_std" ]
full = [ "use_std", "use_alloc" ]

[lib]
proc-macro = true
name = "procedural_macro_meta"
path = "rust/impl/meta/procedural_macro/meta/lib.rs"

[dependencies]
proc_macro_tools = { version = "~0.1", path = "../../rust/proc_macro_tools" }
