[package]
name = "component_model_types"
version = "0.12.0"
edition = "2021"
authors = [
  "Kostiantyn Wandalen <wandalen@obox.systems>",
]
license = "MIT"
readme = "readme.md"
documentation = "https://docs.rs/component_model"
repository = "https://github.com/Wandalen/wTools/tree/master/module/core/component_model"
homepage = "https://github.com/Wandalen/wTools/tree/master/module/core/component_model"
description = """
Component model.
"""
categories = [ "algorithms", "development-tools" ]
keywords = [ "fundamental", "general-purpose", "builder-pattern" ]

[lints]
workspace = true

[package.metadata.docs.rs]
features = [ "full" ]
all-features = false

[features]

no_std = [ "collection_tools/no_std" ]
use_alloc = [ "no_std", "collection_tools/use_alloc" ]

default = [
  "enabled",
  "types_component_assign",
]
full = [
  "enabled",
  "types_component_assign",
]
enabled = [ "collection_tools/enabled" ]

types_component_assign = []


[dependencies]
collection_tools = { workspace = true, features = [ "collection_constructors" ] }
# qqq : optimize also make sure collection_tools expose enough features


[dev-dependencies]
test_tools = { workspace = true, features = [ "full" ] }
