[package]
name = "plot_interface"
version = "0.1.2"
edition = "2021"
authors = [
  "Kostiantyn Wandalen <wandalen@obox.systems>",
  "Dmytro Kryvoruchko <dm.vict.kr@gmail.com>",
]
license = "MIT"
readme = "Readme.md"
documentation = "https://docs.rs/plot_interface"
repository = "https://github.com/Wandalen/wTools/tree/master/module/rust/plot_interface"
homepage = "https://github.com/Wandalen/wTools/tree/master/module/rust/plot_interface"
description = """
Plot interface.
"""
categories = [ "algorithms", "development-tools" ]
keywords = [ "fundamental", "general-purpose" ]

[package.metadata.docs.rs]
all-features = true

include = [
  "/rust/impl/_blank",
  "/Cargo.toml",
  "/Readme.md",
  "/License",
]

[features]
default = [ "use_std" ]
full = [ "use_std", "use_alloc" ]
use_std = []
use_alloc = []

[lib]
name = "plot_interface"
path = "rust/impl/plot/plot_interface_lib.rs"

[[test]]
name = "plot_interface_test"
path = "rust/test/plot/plot_interface_tests.rs"

# [lib]
# name = "plot_interface"
# path = "rust/impl/_blank/standard_lib.rs"
#
# [[test]]
# name = "plot_interface_test"
# path = "rust/test/_blank/tests.rs"

[[test]]
name = "plot_interface_smoke_test"
path = "rust/test/_integration_test/smoke_test.rs"

# [[example]]
# name = "plot_interface_trivial_sample"
# path = "sample/rust/plot_interface_trivial_sample/src/main.rs"

[dependencies]
wplot = { version = "~0.1", path = "../../move/wplot" }

[dev-dependencies]
test_tools = { version = "~0.1", path = "../../rust/test_tools" }
