[package]
name = "macro_tools"
version = "0.19.0"
edition = "2021"
authors = [
  "Kostiantyn Wandalen <wandalen@obox.systems>",
  "Dmytro Kryvoruchko <dmytro.kr@obox.systems>",
]
license = "MIT"
readme = "Readme.md"
documentation = "https://docs.rs/macro_tools"
repository = "https://github.com/Wandalen/wTools/tree/master/module/core/macro_tools"
homepage = "https://github.com/Wandalen/wTools/tree/master/module/core/macro_tools"
description = """
Tools for writing procedural macroses.
"""
categories = [ "algorithms", "development-tools" ]
keywords = [ "fundamental", "general-purpose", "builder-pattern" ]

[lints]
workspace = true

[package.metadata.docs.rs]
features = [ "full" ]
all-features = false
# exclude = [ "/tests", "/examples", "-*" ]

[features]
default = [ "enabled" ]
full = [ "enabled" ]
enabled = []

# qqq : put all files under features: macro_attr, macro_container_kind, ...

[dependencies]

## external
proc-macro2 = { version = "~1.0.78", features = [] }
quote = { version = "~1.0.35", features = [] }
syn = { version = "~2.0.52", features = [ "full", "extra-traits" ] }

## internal
interval_adapter = { workspace = true, features = [ "default" ] }
# strs_tools = { workspace = true, features = [ "default" ] }

[dev-dependencies]
test_tools = { workspace = true }
