
[package]
name = "typing_tools"
version = "0.1.3"
edition = "2021"
authors = [
  "Kostiantyn Wandalen <wandalen@obox.systems>",
  "Volodymyr M. <volodymyr.migdal@gmail.com>",
  "Dmytro Kryvoruchko <dm.vict.kr@gmail.com>",
]
license = "MIT"
readme = "Readme.md"
documentation = "https://docs.rs/typing_tools"
repository = "https://github.com/Wandalen/wTools/tree/master/module/rust/typing_tools"
homepage = "https://github.com/Wandalen/wTools/tree/master/module/rust/typing_tools"
description = """
Collection of general purpose tools for type checking.
"""
categories = [ "algorithms", "development-tools" ]
keywords = [ "fundamental", "general-purpose" ]

[package.metadata.docs.rs]
all-features = true

include = [
  "/rust/impl/typing",
  "/Cargo.toml",
  "/Readme.md",
  "/License",
]

[features]
default = [
  "use_std",
  "implements",
  "is_slice",
  "inspect_type",
]
full = [
  "use_std",
  "use_alloc",
  "implements",
  "is_slice",
  "inspect_type",
]
use_std = []
use_alloc = []

nightly = [ "inspect_type/nightly" ]

[lib]
name = "typing_tools"
path = "rust/impl/typing/typing_tools_lib.rs"

[[test]]
name = "typing_tools_test"
path = "rust/test/typing/tests.rs"

[[test]]
name = "typing_tools_smoke_test"
path = "rust/test/_integration_test/smoke_test.rs"

[[example]]
name = "typing_tools_trivial_sample"
path = "sample/rust/typing_tools_trivial_sample/src/main.rs"

[dependencies]
inspect_type = { version = "~0.1", path = "../../rust/inspect_type", optional = true, default-features = false }
is_slice = { version = "~0.1", path = "../../rust/is_slice", optional = true, default-features = false }
implements = { version = "~0.1", path = "../../rust/implements", optional = true, default-features = false }

[dev-dependencies]
test_tools = { version = "~0.1", path = "../../rust/test_tools" }
