[package]
name = "derive_tools_meta"
version = "0.11.0"
edition = "2021"
authors = [
  "Kostiantyn Wandalen <wandalen@obox.systems>",
  "Dmytro Kryvoruchko <dmytro.kr@obox.systems>",
]
license = "MIT"
readme = "Readme.md"
documentation = "https://docs.rs/derive_tools_meta"
repository = "https://github.com/Wandalen/wTools/tree/master/module/core/derive_tools_meta"
homepage = "https://github.com/Wandalen/wTools/tree/master/module/core/derive_tools_meta"
description = """
Collection of derives which extend STD. Its meta module. Don't use directly.
"""
categories = [ "algorithms", "development-tools" ]
keywords = [ "fundamental", "general-purpose" ]

[lints]
workspace = true

[package.metadata.docs.rs]
features = [ "full" ]
all-features = false

# exclude = [ "/tests", "/examples", "-*" ]

[lib]
proc-macro = true

[features]
default = [
  "enabled",
  "derive_deref_mut",
  "derive_deref",
  "derive_from",
  "derive_inner_from",
  "derive_as_ref",
  "derive_as_mut",
  "derive_variadic_from",
]
full = [
  "enabled",
  "derive_deref_mut",
  "derive_deref",
  "derive_from",
  "derive_inner_from",
  "derive_as_ref",
  "derive_as_mut",
  "derive_variadic_from",
]
enabled = []

derive_as_mut = []
derive_as_ref = []
derive_deref = []
derive_deref_mut = []
derive_from = []
derive_inner_from = []
derive_variadic_from = []

[dependencies]
macro_tools = { workspace = true, features = [ "full" ] }
iter_tools = { workspace = true, features = [ "full" ] }
# xxx : qqq : optimize features set

[dev-dependencies]
test_tools = { workspace = true }
