[package]
name = "procedural_macro"
version = "0.1.0"
edition = "2021"
authors = [
  "Kostiantyn Wandalen <wandalen@obox.systems>",
  "Dmytro Kryvoruchko <dm.vict.kr@gmail.com>",
]
license = "MIT"
readme = "Readme.md"
documentation = "https://docs.rs/procedural_macro"
repository = "https://github.com/Wandalen/wTools/tree/master/module/rust/procedural_macro"
homepage = "https://github.com/Wandalen/wTools/tree/master/module/rust/procedural_macro"
description = """
Protocol of modularity unifying interface of a module.
"""
categories = [ "algorithms", "development-tools" ]
keywords = [ "fundamental", "general-purpose", "builder-pattern" ]

include = [
  "/rust/impl/meta/procedural_macro_lib.rs",
  "/rust/impl/meta/procedural_macro/front",
  "/Cargo.toml",
  "/Readme.md",
  "/License",
]

[features]
default = [ "use_std" ]
full = [ "use_std" ]
use_std = []
use_alloc = []

[lib]
name = "procedural_macro"
path = "rust/impl/meta/procedural_macro/front/lib.rs"

[[test]]
name = "procedural_macro_test"
path = "rust/test/meta/procedural_macro_lib_test.rs"

[[test]]
name = "procedural_macro_smoke_test"
path = "rust/test/_integration_test/smoke_test.rs"

# [[example]]
# name = "procedural_macro_trivial"
# path = "sample/rust/procedural_macro_trivial_sample/src/main.rs"

[dependencies]
procedural_macro_meta = { version = "~0.1", path = "../../rust/procedural_macro_meta" }
procedural_macro_runtime = { version = "~0.1", path = "../../rust/procedural_macro_runtime" }

[dev-dependencies]
test_tools = { version = "~0.1", path = "../../rust/test_tools" }
# trybuild = { version = "~1.0", features = [ "diff" ] }
