[package]
name = "procedural_macro"
version = "0.1.0"
edition = "2021"
authors = [
  "Kostiantyn Wandalen <wandalen@obox.systems>",
  "Dmytro Kryvoruchko <dmytro.kr@obox.systems>",
]
license = "MIT"
readme = "Readme.md"
documentation = "https://docs.rs/procedural_macro"
repository = "https://github.com/Wandalen/wTools/tree/master/module/core/procedural_macro"
homepage = "https://github.com/Wandalen/wTools/tree/master/module/core/procedural_macro"
description = """
Template.
"""
categories = [ "algorithms", "development-tools" ]
keywords = [ "fundamental", "general-purpose", "builder-pattern" ]

[package.metadata.docs.rs]
all-features = true

include = [
  "/rust/impl/meta/procedural_macro_lib.rs",
  "/rust/impl/meta/procedural_macro/front",
  "/Cargo.toml",
  "/Readme.md",
  "/License",
]

[features]
default = [ ]
full = []
# use_std = []
no_std = []
use_alloc = []

[lib]
name = "procedural_macro"
path = "src/meta/procedural_macro/front/procedural_macro_lib.rs"

[[test]]
name = "procedural_macro_test"
path = "tests/meta/procedural_macro_tests.rs"

[[test]]
name = "procedural_macro_smoke_test"
path = "tests/_integration_test/smoke_test.rs"

# [[example]]
# name = "procedural_macro_trivial"
# path = "examples/procedural_macro_trivial_sample/src/main.rs"

[dependencies]
procedural_macro_meta = { workspace = true }
procedural_macro_runtime = { workspace = true }

[dev-dependencies]
test_tools = { workspace = true }
# trybuild = { version = "~1.0", features = [ "diff" ] }
