[package]
name = "template_alias"
version = "0.1.0"
edition = "2021"
authors = [
  "Kostiantyn Wandalen <wandalen@obox.systems>",
  "Dmytro Kryvoruchko <dmytro.kr@obox.systems>",
]
license = "MIT"
readme = "Readme.md"
documentation = "https://docs.rs/template_alias"
repository = "https://github.com/Wandalen/wTools/tree/master/module/alias/template_alias"
homepage = "https://github.com/Wandalen/wTools/tree/master/module/alias/template_alias"
description = """
___
"""
categories = [ "algorithms", "development-tools" ]
keywords = [ "fundamental", "general-purpose" ]

[package.metadata.docs.rs]
features = [ "full" ]
all-features = false

include = [
  "/rust/impl/_blank",
  "/Cargo.toml",
  "/Readme.md",
  "/License",
]

[features]
default = [ ]
full = []
# use_std = []
no_std = []
use_alloc = []

[lib]
name = "template_alias"
path = "src/_blank/standard_lib.rs"

[[test]]
name = "template_alias_test"
path = "tests/_blank/tests.rs"

[[test]]
name = "template_alias_smoke_test"
path = "tests/_integration_test/smoke_test.rs"

[dependencies]

[dev-dependencies]
test_tools = { workspace = true }
smoke_test = { workspace = true }
