[package]
name = "former"
version = "0.13.0"
edition = "2021"
authors = [
  "Kostiantyn Wandalen <wandalen@obox.systems>",
  "Dmytro Kryvoruchko <dmytro.kr@obox.systems>",
]
license = "MIT"
readme = "Readme.md"
documentation = "https://docs.rs/former"
repository = "https://github.com/Wandalen/wTools/tree/master/module/core/former"
homepage = "https://github.com/Wandalen/wTools/tree/master/module/core/former"
description = """
A flexible and extensible implementation of the builder pattern.
"""
categories = [ "algorithms", "development-tools" ]
keywords = [ "fundamental", "general-purpose", "builder-pattern" ]

[lints]
workspace = true

[package.metadata.docs.rs]
features = [ "full" ]
all-features = false

[features]

no_std = []
use_alloc = []

default = [
  "enabled",
  "derive_former",
  "derive_components",
  "derive_component_from",
  "derive_component_assign",
  "derive_components_assign",
  "derive_from_components",
]
full = [
  "enabled",
  "derive_former",
  "derive_components",
  "derive_component_from",
  "derive_component_assign",
  "derive_components_assign",
  "derive_from_components",
]
enabled = [ "former_meta/enabled" ]

derive_former = [ "former_meta/derive_former" ]
derive_components = [ "former_meta/derive_components" ]
derive_component_assign = [ "derive_components", "former_meta/derive_component_assign" ]
derive_components_assign = [ "derive_components", "derive_component_assign", "former_meta/derive_components_assign" ]
derive_component_from = [ "derive_components", "former_meta/derive_component_from" ]
derive_from_components = [ "derive_components", "former_meta/derive_from_components" ]


[dependencies]
former_meta = { workspace = true }

[dev-dependencies]
test_tools = { workspace = true, features = [ "full" ] }
