[package]
name = "mem_tools"
version = "0.2.1"
edition = "2021"
authors = [
  "Kostiantyn Wandalen <wandalen@obox.systems>",
  "Dmytro Kryvoruchko <dm.vict.kr@gmail.com>",
]
license = "MIT"
readme = "Readme.md"
documentation = "https://docs.rs/mem_tools"
repository = "https://github.com/Wandalen/wTools/tree/master/module/rust/mem_tools"
homepage = "https://github.com/Wandalen/wTools/tree/master/module/rust/mem_tools"
description = """
Collection of tools to manipulate memory.
"""
categories = [ "algorithms", "development-tools" ]
keywords = [ "fundamental", "general-purpose" ]

[package.metadata.docs.rs]
all-features = true

include = [
  "/rust/impl/mem",
  "/Cargo.toml",
  "/Readme.md",
  "/License",
]

[features]
default = [
  "use_std",
]
full = [
  "use_std",
  "use_alloc",
]
use_std = []
use_alloc = []

[lib]
name = "mem_tools"
path = "rust/impl/mem/mem_tools_lib.rs"

[[test]]
name = "mem_tools_test"
path = "rust/test/mem/mem_tools_tests.rs"

[[test]]
name = "mem_tools_smoke_test"
path = "rust/test/_integration_test/smoke_test.rs"

# [[example]]
# name = "mem_tools_trivial_sample"
# path = "sample/rust/mem_tools_trivial_sample/src/main.rs"

[dependencies]

[dev-dependencies]
test_tools = { version = "~0.1", path = "../../rust/test_tools" }
