[package]
name = "impls_index_meta"
version = "0.2.0"
edition = "2021"
authors = [
  "Kostiantyn Wandalen <wandalen@obox.systems>",
  "Dmytro Kryvoruchko <dmytro.kr@obox.systems>",
]
license = "MIT"
readme = "Readme.md"
documentation = "https://docs.rs/impls_index_meta"
repository = "https://github.com/Wandalen/wTools/tree/master/module/core/impls_index_meta"
homepage = "https://github.com/Wandalen/wTools/tree/master/module/core/impls_index_meta"
description = """
Several of macros to put each function under a named macro to index every function in a class.
"""
categories = [ "algorithms", "development-tools" ]
keywords = [ "fundamental", "general-purpose", "builder-pattern" ]

[package.metadata.docs.rs]
all-features = true

include = [
  "/rust/impl/meta/impls_index_meta",
  "/Cargo.toml",
  "/Readme.md",
  "/License",
]

[features]
default = []
full = []

[lib]
proc-macro = true
name = "impls_index_meta"
path = "src/meta/impls_index/meta/impls_index_meta_lib.rs"

[dependencies]
# proc-macro2 = "~1.0"
# quote = "~1.0"
# syn = { version = "~1.0", features = [ "full", "extra-traits", "parsing", "printing" ] }
macro_tools = { workspace = true }

[dev-dependencies]
