[package]
name = "for_each"
version = "0.10.0"
edition = "2021"
authors = [
  "Kostiantyn Wandalen <wandalen@obox.systems>",
  "Dmytro Kryvoruchko <dmytro.kr@obox.systems>",
]
license = "MIT"
readme = "readme.md"
documentation = "https://docs.rs/for_each"
repository = "https://github.com/Wandalen/wTools/tree/master/module/core/for_each"
homepage = "https://github.com/Wandalen/wTools/tree/master/module/core/for_each"
description = """
Apply macro for each element of a list.
"""
categories = [ "algorithms", "development-tools" ]
keywords = [ "fundamental", "general-purpose" ]

[lints.rust]
rust_2018_idioms = { level = "warn", priority = -1 }
future_incompatible = { level = "warn", priority = -1 }
missing_docs = "warn"
missing_debug_implementations = "warn"
unsafe-code = "deny"

[lints.clippy]
pedantic = { level = "warn", priority = -1 }
undocumented_unsafe_blocks = "deny"
std_instead_of_core = "warn"
doc_include_without_cfg = "warn"
missing_inline_in_public_items = "allow"
single_call_fn = "allow"
inline_always = "allow"
module_name_repetitions = "allow"
absolute_paths = "allow"
wildcard_imports = "allow"
std_instead_of_alloc = "allow"
items_after_statements = "allow"
cast_precision_loss = "allow"
pub_use = "allow"
question_mark_used = "allow"
implicit_return = "allow"
arbitrary_source_item_ordering = "allow"
mod_module_files = "allow"
missing_docs_in_private_items = "allow"
large_enum_variant = "allow"
struct_excessive_bools = "allow"

[package.metadata.docs.rs]
features = [ "full" ]
all-features = false


# include = [
#   "/rust/impl/meta/for_each",
#   "/Cargo.toml",
#   "/readme.md",
#   "/License",
# ]

[features]
default = [ "enabled" ]
full = [ "enabled" ]
no_std = []
use_alloc = [ "no_std" ]
enabled = []

# [lib]
# name = "for_each"
# path = "src/meta/for_each/for_each_lib.rs"
#
# [[test]]
# name = "for_each_test"
# path = "tests/meta/for_each_tests.rs"
#
# [[test]]
# name = "for_each_smoke_test"
# path = "tests/_integration_test/smoke_test.rs"
#
# [[example]]
# name = "for_each_trivial"
# path = "examples/for_each_trivial/src/main.rs"
#
# [[example]]
# name = "for_each_map_style"
# path = "examples/for_each_map_style/src/main.rs"

[dependencies]

[dev-dependencies]
test_tools = { version = "~0.16.0", path = "../test_tools", features = [ "full" ] }
