[package]
name = "for_each"
version = "0.2.0"
edition = "2021"
authors = [
  "Kostiantyn Wandalen <wandalen@obox.systems>",
  "Dmytro Kryvoruchko <dmytro.kr@obox.systems>",
]
license = "MIT"
readme = "Readme.md"
documentation = "https://docs.rs/for_each"
repository = "https://github.com/Wandalen/wTools/tree/master/module/core/for_each"
homepage = "https://github.com/Wandalen/wTools/tree/master/module/core/for_each"
description = """
Apply macro for each element of a list.
"""
categories = [ "algorithms", "development-tools" ]
keywords = [ "fundamental", "general-purpose" ]

[package.metadata.docs.rs]
features = [ "full" ]
all-features = false

exclude = [ "/tests", "/examples", "-*" ]
# include = [
#   "/rust/impl/meta/for_each",
#   "/Cargo.toml",
#   "/Readme.md",
#   "/License",
# ]

[features]
default = [ ]
full = []
no_std = []
use_alloc = []

# [lib]
# name = "for_each"
# path = "src/meta/for_each/for_each_lib.rs"
#
# [[test]]
# name = "for_each_test"
# path = "tests/meta/for_each_tests.rs"
#
# [[test]]
# name = "for_each_smoke_test"
# path = "tests/_integration_test/smoke_test.rs"
#
# [[example]]
# name = "for_each_trivial_sample"
# path = "examples/for_each_trivial_sample/src/main.rs"
#
# [[example]]
# name = "for_each_map_style_sample"
# path = "examples/for_each_map_style_sample/src/main.rs"

[dependencies]

[dev-dependencies]
test_tools = { workspace = true }
smoke_test = { workspace = true }
