[package]
name = "former_meta"
version = "0.1.11"
edition = "2021"
authors = [
  "Kostiantyn Wandalen <wandalen@obox.systems>",
  "Volodymyr M. <volodymyr.migdal@gmail.com>",
  "Dmytro Kryvoruchko <dm.vict.kr@gmail.com>",
]
license = "MIT"
readme = "Readme.md"
documentation = "https://docs.rs/former_meta"
repository = "https://github.com/Wandalen/wTools/tree/master/module/rust/former_meta"
homepage = "https://github.com/Wandalen/wTools/tree/master/module/rust/former_meta"
description = """
Former - a variation of builder pattern. Implementation of its derive macro. Should not be used independently, instead use module::former which relies on the module.
"""
categories = [ "algorithms", "development-tools" ]
keywords = [ "fundamental", "general-purpose", "builder-pattern" ]

[package.metadata.docs.rs]
all-features = true

include = [
  "/rust/impl/former/meta",
  "/Cargo.toml",
  "/Readme.md",
  "/License",
]

[features]
use_std = []
use_alloc = []
default = [ "use_std" ]

[lib]
proc-macro = true
name = "former_meta"
path = "rust/impl/former/meta/former_lib.rs"

[dependencies]
proc-macro2 = "~1.0"
quote = "~1.0"
syn = { version = "~1.0", features = [ "full", "extra-traits", "parsing", "printing" ] }
iter_tools = { path = "../../rust/iter_tools", version = "~0.1" }
proc_macro_tools = { version = "~0.1", path = "../../rust/proc_macro_tools" }

[dev-dependencies]
# trybuild = { version = "~1.0", features = [ "diff" ] }
