
[package]
name = "typing_tools"
version = "0.1.5"
edition = "2021"
authors = [
  "Kostiantyn Wandalen <wandalen@obox.systems>",
  "Dmytro Kryvoruchko <dmytro.kr@obox.systems>",
]
license = "MIT"
readme = "Readme.md"
documentation = "https://docs.rs/typing_tools"
repository = "https://github.com/Wandalen/wTools/tree/master/module/core/typing_tools"
homepage = "https://github.com/Wandalen/wTools/tree/master/module/core/typing_tools"
description = """
Collection of general purpose tools for type checking.
"""
categories = [ "algorithms", "development-tools" ]
keywords = [ "fundamental", "general-purpose" ]

[package.metadata.docs.rs]
all-features = true

exclude = [ "/tests", "/examples", "-*" ]
include = [
  "/rust/impl/typing",
  "/Cargo.toml",
  "/Readme.md",
  "/License",
]

[features]

default = [
  # "implements",
  "is_slice",
  "inspect_type",
]

full = [
  # "use_alloc",
  # "implements",
  "is_slice",
  "inspect_type",
]
# use_std = []
no_std = []
use_alloc = []
nightly = [ "inspect_type/nightly" ]

[lib]
name = "typing_tools"
path = "src/typing/typing_tools_lib.rs"

[[test]]
name = "typing_tools_test"
path = "tests/typing/tests.rs"

[[test]]
name = "typing_tools_smoke_test"
path = "tests/_integration_test/smoke_test.rs"

[[example]]
name = "typing_tools_trivial_sample"
path = "examples/typing_tools_trivial_sample/src/main.rs"

[dependencies]

## internal
inspect_type = { workspace = true, optional = true }
is_slice = { workspace = true, optional = true }
implements = { workspace = true }

[dev-dependencies]
test_tools = { workspace = true }
smoke_test = { workspace = true }
