[package]
name = "graphs_tools"
version = "0.2.0"
edition = "2021"
authors = [
  "Kostiantyn Wandalen <wandalen@obox.systems>",
  "Dmytro Kryvoruchko <dmytro.kr@obox.systems>",
]
license = "MIT"
readme = "Readme.md"
documentation = "https://docs.rs/graphs_tools"
repository = "https://github.com/Wandalen/wTools/tree/master/module/core/graphs_tools"
homepage = "https://github.com/Wandalen/wTools/tree/master/module/core/graphs_tools"
description = """
Graphs tools.
"""
categories = [ "algorithms", "development-tools" ]
keywords = [ "fundamental", "general-purpose" ]

[package.metadata.docs.rs]
features = [ "full" ]
all-features = false
exclude = [ "/tests", "/examples", "-*" ]
# include = [
#   "/rust/impl/graph",
#   "/Cargo.toml",
#   "/Readme.md",
#   "/License",
# ]

[features]
default = [
  "enabled"
]
full = [
  "enabled",
]
no_std = []
use_alloc = []
enabled = []

# [lib]
# name = "graphs_tools"
# path = "src/graph/graphs_tools_lib.rs"
#
# [[test]]
# name = "graphs_tools_test"
# path = "tests/graph/graphs_tools_tests.rs"
#
# [[test]]
# name = "graphs_tools_smoke_test"
# path = "tests/_integration_test/smoke_test.rs"
#
# [[example]]
# name = "graphs_tools_trivial_sample"
# path = "examples/graphs_tools_trivial_sample/src/main.rs"

[dependencies]
indexmap = "~1.8"
meta_tools = { workspace = true, features = [ "default" ] }
iter_tools = { workspace = true, features = [ "default" ] }
data_type = { workspace = true, features = [ "default" ] }
strs_tools = { workspace = true, features = [ "default" ] }

[dev-dependencies]
test_tools = { workspace = true }
# inspect_type = { workspace = true }
