[package]
name = "mod_interface"
version = "0.4.0"
edition = "2021"
authors = [
  "Kostiantyn Wandalen <wandalen@obox.systems>",
  "Dmytro Kryvoruchko <dmytro.kr@obox.systems>",
]
license = "MIT"
readme = "Readme.md"
documentation = "https://docs.rs/mod_interface"
repository = "https://github.com/Wandalen/wTools/tree/master/module/core/mod_interface"
homepage = "https://github.com/Wandalen/wTools/tree/master/module/core/mod_interface"
description = """
Protocol of modularity unifying interface of a module and introducing layers.
"""
categories = [ "algorithms", "development-tools" ]
keywords = [ "fundamental", "general-purpose", "builder-pattern" ]

[package.metadata.docs.rs]
features = [ "full" ]
all-features = false

exclude = [ "/tests", "/examples", "-*" ]

[features]
default = [ "enabled" ]
full = [ "enabled" ]
no_std = []
use_alloc = []
enabled = [ "mod_interface_meta/enabled" ]

# keep these examples in directories

[[example]]
name = "mod_interface_trivial_sample"
path = "examples/mod_interface_trivial_sample/src/main.rs"

[[example]]
name = "mod_interface_with_debug_sample"
path = "examples/mod_interface_with_debug_sample/src/main.rs"

[dependencies]
mod_interface_meta = { workspace = true }
# mod_interface_runtime = { workspace = true }

[dev-dependencies]
test_tools = { workspace = true }
# smoke_test = { workspace = true }
