[package]
name = "test_tools"
version = "0.5.0"
edition = "2021"
authors = [
  "Kostiantyn Wandalen <wandalen@obox.systems>",
  "Dmytro Kryvoruchko <dmytro.kr@obox.systems>",
]
license = "MIT"
readme = "Readme.md"
documentation = "https://docs.rs/test_tools"
repository = "https://github.com/Wandalen/wTools/tree/master/module/core/test_tools"
homepage = "https://github.com/Wandalen/wTools/tree/master/module/core/test_tools"
description = """
Tools for writing and running tests.
"""
categories = [ "algorithms", "development-tools" ]
keywords = [ "fundamental", "general-purpose", "testing" ]

[package.metadata]
stable_status = "experimental"

[lints]
workspace = true

[package.metadata.docs.rs]
features = [ "full" ]
all-features = false

exclude = [ "/tests", "/examples", "-*" ]

# = features

[features]
default = [ "enabled" ]
full = [ "enabled" ]
# use_std = []
no_std = []
use_alloc = []
enabled = []
# nightly = [ "typing_tools/nightly" ]

[dependencies]

## external

paste = "~1.0" # zzz : remove laster
rustversion = "~1.0"
# anyhow = "~1.0"
num-traits = "~0.2"
trybuild = { version = "1.0.85", features = [ "diff" ] }

## internal

error_tools = { workspace = true, features = [ "full" ] }
meta_tools = { workspace = true, features = [ "full" ] }
mem_tools = { workspace = true, features = [ "full" ] }
typing_tools = { workspace = true, features = [ "full" ] }
data_type = { workspace = true, features = [ "full" ] }
diagnostics_tools = { workspace = true, features = [ "full" ] }

[build-dependencies]
rustc_version = "0.4"
