[package]
name = "error_tools"
version = "0.1.5"
edition = "2021"
authors = [
  "Kostiantyn Wandalen <wandalen@obox.systems>",
  "Dmytro Kryvoruchko <dmytro.kr@obox.systems>",
]
license = "MIT"
readme = "Readme.md"
documentation = "https://docs.rs/error_tools"
repository = "https://github.com/Wandalen/wTools/tree/master/module/core/error_tools"
homepage = "https://github.com/Wandalen/wTools/tree/master/module/core/error_tools"
description = """
Basic exceptions handling mechanism.
"""
categories = [ "algorithms", "development-tools" ]
keywords = [ "fundamental", "general-purpose" ]

[package.metadata.docs.rs]
all-features = true

exclude = [ "/tests", "/examples", "-*" ]
include = [
  "/rust/impl/error",
  "/Cargo.toml",
  "/Readme.md",
  "/License",
]

# = features

[features]
default = [
  "error_handling_for_lib",
  "error_handling_for_app",
]
full = [
  "use_alloc",
  "error_handling_for_lib",
  "error_handling_for_app",
]
# use_std = []
no_std = []
use_alloc = []

error_handling_for_lib = [ "thiserror" ]
error_handling_for_app = [ "anyhow" ]

# = entry

[lib]
name = "error_tools"
path = "src/error/error_tools_lib.rs"

[[test]]
name = "error_test"
path = "tests/error/error_tools_tests.rs"

[[test]]
name = "error_tools_smoke_test"
path = "tests/_integration_test/smoke_test.rs"

[[example]]
name = "error_tools_trivial_sample"
path = "examples/error_tools_trivial_sample/src/main.rs"

[dependencies]
anyhow = { version = "~1.0", optional = true }
thiserror = { version = "~1.0", optional = true }

[dev-dependencies]
test_tools = { workspace = true }
smoke_test = { workspace = true }
