name : is_slice

on : push

env :
  CARGO_TERM_COLOR : always

jobs :

  # is_slice

  test :
    uses : Wandalen/wTools/.github/workflows/StandardRustPush.yml@alpha
    with :
      manifest_path : 'module/core/is_slice/Cargo.toml'
      module_name : 'is_slice'
      commit_message : ${{ github.event.head_commit.message }}
